<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="row justify-content-center">
    <div class="new-forms col-12 col-md-6 col-lg-4">
      <%= f.input :name %>
      <%= f.input :picture, as: :file %>
      <%= f.input :platform, collection: Game::PLATFORM %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :price %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
