<h1>Placeholder Navbar</h1>
<div class="container">

  <div class="user-profile ">
    <img src="" alt="" class="avatar">
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p><%= @user.email %></p>
    <div>
      <a href="" class="btn">Edit profile</a>
    </div>
    <div>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, form: {turbolink: false} %>
    </div>
  </div>

  <div class="games">

    <div class="grid border border-dark">
      <% if @user.games %>
        <% @user.games.each do |game| %>
          <div class="card">
            <%= link_to game_path(game) do %>
              <img src= <%= game.picture %> class="" alt="game">
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>No games</p>
      <% end %>
    </div>

    <div class="grid">
      <% if @user.games %>
        <% @user.games.each do |game| %>
          <div class="card">
            <%= link_to game_path(game) do %>
              <img src= <%= game.picture %> class="" alt="game">
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>No games</p>
      <% end %>
    </div>
  </div>

</div>
