
<div class="container">
  <div class="container-profile">

    <%# flex item 1 %>
    <div class="profile-user">
      <%# <%= cl_image_tag user.picture.key, height: 150, width: 150, crop: :fill %>
      <img class="profile-picture" src="https://media.gq-magazine.co.uk/photos/62ac38f82da9f5f89888eba9/4:3/w_888,h_666,c_limit/jon-snow-series-1200.jpeg" alt="">
      <h4><%= @user.first_name %> <%= @user.last_name %></h4>
      <p>E-mail: <%= @user.email %></p>
        <div class="btn-small">
          <a href="<%= edit_user_registration_path %>" class="gradient-btn">Edit profile</a>
        </div>
        <div class="btn-small">
          <%= link_to "Add new game", new_game_path, class:"gradient-btn" %>
        </div>
        <div class="mt-4">
          <% if @received_rents == [] %>
            <p>All up to date</p>
          <% else %>
            <p><strong>Action required!</strong></p>
          <% end %>
        </div>
    </div>


    <%# flex item 2 %>
    <div class="profile-games">

      <%# my games %>
      <div class="profile-my-games">
        <h2>My Games</h2>
        <div class="profile-games-cards">
          <% if @user.games == [] %>
            <p>You have no games</p>
          <% else %>
            <% @user.games.each do |game| %>
              <div class="profile-games-card">
                <%= link_to game_path(game) do %>
                  <%= cl_image_tag game.picture.key, height: 150, width: 150, crop: :fill %>
                <% end %>
                <p><%= game.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%# my rents %>
      <div class="profile-rented-games">
        <h2>My Rented Games</h2>
        <div class="profile-games-cards">
          <% if @rents == [] %>
            <p>You have no rented games</p>
          <% else %>
            <% @rents.each do |rent| %>
              <div class="profile-games-card">
                <%= link_to game_path(rent) do %>
                  <%= cl_image_tag rent.game.picture.key, height: 150, width: 150, crop: :fill %>
                <% end %>
                <p><%= rent.game.name %></p>
                <div class="profile-games-info">
                  <p>Status: <strong><%= rent.status %></strong></p>
                  <p><%= rent.start_date %> to <%= rent.end_date %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%# accept/reject rent %>
      <div class="profile-rented-games">
        <h2>Action Required!</h2>
        <div class="profile-games-cards">
          <% if @received_rents == [] %>
            <p>All up to date</p>
          <% else %>
            <% @received_rents.each do |rent| %>
              <div>
                <%= link_to game_path(rent), class:"profile-games-card" do %>
                  <p><%= button_to "Confirm this rent", rent_path(rent, {status: 'confirmed'}), method: :patch if rent.status == 'pending' %></p>
                  <p><%= button_to "Reject this rent", rent_path(rent, {status: 'canceled'}), method: :patch if rent.status == 'pending' %></p>
                  <p>from <%= rent.start_date %> to <%= rent.end_date %></p>
                  <p>Status: <%= rent.status %></p>
                  <%= cl_image_tag rent.game.picture.key, height: 150, width: 150, crop: :fill %>
                <% end %>
                <p><%= rent.game.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
