<h1>Placeholder Navbar</h1>
<div class="container">

  <div class="user-profile ">
    <img src="" alt="" class="avatar">
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p><%= @user.email %></p>
    <div>
      <a href="" class="btn">Edit profile</a>
    </div>
    <div>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, form: {turbolink: false} %>
      <p></p>
    </div>
  </div>

  <div class="games">

    <div class="grid border border-dark">
      <% if @user.games == [] %>
        <p>You have no games</p>
      <% else %>
        <% @user.games.each do |game| %>
          <div class="card">
            <%= link_to game_path(game) do %>
              <%= cl_image_tag game.picture.key, height: 450, width: 450, crop: :fill %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <p></p>
  <p><%= link_to "Add a new game", new_game_path %></p>
  <p></p>
  <p><%= link_to "Back to main page", games_path %></p>
</div>
