<h1>Placeholder Navbar</h1>
<div class="container">
  <div class="d-flex">
    <div class="user-profile px-2">
      <%# <%= cl_image_tag user.picture.key, height: 150, width: 150, crop: :fill %>
      <p class="my-4">Name: <%= @user.first_name %> <%= @user.last_name %></p>
      <p class="mb-4">E-mail: <%= @user.email %></p>
      <div class="m-4">
        <a href="<%= edit_user_registration_path %>" class="btn btn-outline-success">Edit profile</a>
      </div>
      <div class="m-4">
        <%= button_to "Log out", destroy_user_session_path, method: :delete, form: {turbolink: false}, class:"btn btn-outline-warning"%>
      </div>
    </div>

    <div class="games m-4">
      <h2>My Games</h2>
      <div class="cards">
        <% if @user.games %>
          <% @user.games.each do |game| %>
            <div>
              <%= link_to game_path(game), class:"card" do %>
                <%= cl_image_tag game.picture.key, height: 150, width: 150, crop: :fill %>
              <% end %>
              <p><%= game.name %></p>
            </div>
          <% end %>
        <% else %>
          <p>No games</p>
        <% end %>
      </div>
      <h2>My rented games</h2>
      <div class="cards">
        <% if @user.games %>
          <% @user.games.each do |game| %>
            <div>
              <%= link_to game_path(game), class:"card" do %>
                <%= cl_image_tag game.picture.key, height: 150, width: 150, crop: :fill %>
              <% end %>
              <p><%= game.name %></p>
            </div>
          <% end %>
        <% else %>
          <p>No games</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
