<div class="container">
  <div class="container-profile">
    <%# flex item 1 %>
    <div class="profile-user">
      <% if @user.photo.key %>
        <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop: :fill, class:"profile-picture" %>
      <% else %>
        <%= image_tag "user_no_img.png", class:"profile-picture" %>
      <% end %>
      <h4><%= @user.first_name %> <%= @user.last_name %></h4>
      <p>E-mail: <%= @user.email %></p>
        <div class="btn-small">
          <%= link_to "Edit profile", edit_user_registration_path, class:"gradient-btn" %>
        </div>
        <div class="btn-small">
          <%= link_to "Add new game", new_game_path, class:"gradient-btn" %>
        </div>
        <div class="mt-4">
          <% if @pending_rents == [] %>
            <p>All up to date</p>
          <% else %>
            <p class="action-text">Action required!</p>
          <% end %>
        </div>
    </div>


    <%# flex item 2 %>
    <div class="profile-games">

      <%# my games %>
      <div class="profile-my-games">
        <h2>My Games</h2>
        <div class="profile-games-cards">
          <% if @user.games == [] %>
            <p><em>You have no games</em></p>
          <% else %>
            <% @user.games.each do |game| %>
              <div class="profile-games-card">
                <%= link_to game_path(game) do %>
                  <div class = "platform"><%= game.platform %></div>
                  <%= cl_image_tag game.picture.key, height: 150, width: 150, crop: :fill, class:"profile-games-card-img" %>
                <% end %>
                <p><%= game.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%# my rents %>
      <div class="profile-rented-games">
        <h2>My Rented Games</h2>
        <div class="profile-games-cards">
          <% if @rents == [] %>
            <p><em>You have no rented games, go to games</em></p>
          <% else %>
            <% @rents.each do |rent| %>
              <div class="profile-games-card">
                <%= link_to game_path(rent) do %>
                  <div class = "platform"><%= rent.game.platform %></div>
                  <%= cl_image_tag rent.game.picture.key, height: 150, width: 150, crop: :fill, class:"profile-games-card-img" %>
                <% end %>
                <p><%= rent.game.name %></p>
                <div class="profile-games-info">
                  <p>Status: <strong><%= rent.status.upcase %></strong></p>
                  <p><%= rent.start_date.strftime("%d/%m/%y") %> - <%= rent.end_date.strftime("%d/%m/%y") %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%# accept/reject rent %>
      <div class="profile-action-required">
        <h2>Action Required!</h2>
        <div class="profile-games-cards">
          <% if @pending_rents == [] %>
            <p><em>All up to date!</em></p>
          <% else %>
            <% @received_rents.each do |rent| %>
              <% if rent.status == "pending" %>
                <div>
                  <div class="profile-games-card">
                    <%= link_to game_path(rent) do %>
                      <div class = "platform"><%= rent.game.platform %></div>
                      <%= cl_image_tag rent.game.picture.key, height: 150, width: 150, crop: :fill, class:"profile-games-card-img" %>
                    <% end %>
                    <p><%= rent.game.name %></p>
                    <div class="profile-games-info">
                      <p>Status: <%= rent.status.upcase %></p>
                      <p><%= rent.start_date.strftime("%d/%m/%y") %> - <%= rent.end_date.strftime("%d/%m/%y") %></p>
                    </div>
                  </div>
                  <div class="profile-games-card-btn">
                    <%= button_to "Confirm", rent_path(rent, {status: 'confirmed'}), method: :patch, class:"gray-btn" if rent.status == 'pending'%>
                    <%= button_to "Reject", rent_path(rent, {status: 'canceled'}), method: :patch, class:"gray-btn" if rent.status == 'pending' %>
                  </div>
                </div>
              <% else %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
