
<nav class="navbar sticky-top navbar-light my-navbar">
  <div class="container-fluid p-0">
    <%= link_to root_path do %>
      <div class = "nav-left"><%= image_tag "LOGO.png", class: "logo" %></div>
    <% end %>
    <ul class="middle">
        <li><%= link_to "Games", games_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= button_to "Log out", destroy_user_session_path, method: :delete, form: {turbolink: false} %></li>
        <% else %>
          <li><%= link_to "Profile", user_session_path %></li>
          <li><%= button_to "Sign in", user_session_path %></li>
        <% end %>
    </ul>
    <%= form_with url: games_path, method: :get, id: "search-bar" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control", id:"search-input",
        placeholder: "Find a game"
      %>
      <div class="input-group-append"><button class="h-100"><i class="fas fa-search"></i></button></div>
    <% end %>
  </div>
</nav>

<!--<%= link_to "WTT", root_path, class:'logo'%>-->
