
<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="new-games-form">
      <%= f.input :name %>
      <%= f.input :platform, collection: Game::PLATFORM %>
      <%= f.input :picture, as: :file %>
      <%= f.input :description %>
      <%= f.input :price %>
    </div>

  <div class="form-actions row justify-content-center py-2">
    <%= f.button :submit , class: 'gradient-btn'%>
  </div>
<% end %>
