<<<<<<< Updated upstream
<h1>Games</h1>

<div id="games">
  <% @games.each do |game| %>
    <h3><%= game.name %></h3>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
=======
<!--<nav>
  <a href="#" class="logo">OUR LOGO</a>
  <ul>
      <li><a href="#">Games</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Contact</a></li>
  </ul>
  <a href="#" class= 'gradient-btn'>Send</a>
</nav>-->
<nav class="navbar sticky-top navbar-light my-navbar">
  <div class="container-fluid p-0">
    <%= link_to "LOGO", root_path, class:'logo'%>
      <ul class="middle">
          <li><%= link_to "Games", games_path %></li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><a href="#">Contact</a></li>
      </ul>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, form: {turbolink: false}, class:'gradient-btn'%>
  </div>
</nav>
<div class = 'container games p-0 w-100'>
<h1>Games</h1>
  <div class = 'gameslist'>
    <% @games.each do |game| %>
      <div class = 'gameslist-game'>
        <p><%= game.platform %></p>
        <div class = 'game-img'><%= cl_image_tag game.picture.key, height: 300, width: 300, crop: :fill %></div>
        <p><%= game.name %></p>
        <div class = 'game-bottom-part'>
          <h4>Price: <%= game.price %>€</h4>
          <%= link_to "Show", game, class: 'gradient-btn' %>
        </div>
      </div>
    <% end %>
  </div>
<!--<%= link_to "New game", new_game_path %>-->
>>>>>>> Stashed changes
</div>

<%= link_to "New game", new_game_path %>
