<div class = 'container games'>
<h1>Games</h1>
  <div class = 'gameslist'>
    <% @games.each do |game| %>
      <div class = 'gameslist-game'>
        <div class = 'game-img'><%= cl_image_tag game.picture.key, height: 300, width: 300, crop: :fill %></div>
        <p><%= game.name %></p>
        <div class = 'game-bottom-part'>
          <p><%= game.price %>€</p>
          <%= link_to "Show", game, class: 'gradient-btn' %>
        </div>
      </div>
    <% end %>
  </div>
<%= link_to "New game", new_game_path %>
</div>
