<!--<nav>
  <a href="#" class="logo">OUR LOGO</a>
  <ul>
      <li><a href="#">Games</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Contact</a></li>
  </ul>
  <a href="#" class= 'gradient-btn'>Send</a>
</nav>-->
<div class = 'container games p-0 w-100'>
<h1>Games</h1>
  <div class = 'gameslist'>
    <% @games.each do |game| %>
      <div class = 'gameslist-game'>
        <p><%= game.platform %></p>
        <div class = 'game-img'><%= cl_image_tag game.picture.key, height: 300, width: 300, crop: :fill %></div>
        <p><%= game.name %></p>
        <div class = 'game-bottom-part'>
          <h4>Price: <%= game.price %>€</h4>
          <%= link_to "Let's play", game, class: 'gradient-btn' %>
        </div>
      </div>
    <% end %>
  </div>
<!--<%= link_to "New game", new_game_path %>-->
</div>
