<h1><%= @game.name %></h1>
<%= cl_image_tag @game.photo.key, height: 300, width: 400, crop: :fill %>
<p><%= @game.name %></p>
<p><%= @game.price %>€</p>


<div>
  <%= link_to "Edit this game", edit_game_path(@game) %>
  <%= link_to "Back to games", games_path %>
  <%= button_to "Destroy this game", @game, method: :delete %>
</div>
