<h1><%= @game.name %></h1>
<%= game.picture %>
<%= game.name %>
<%= game.price %>


<div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>
  <%= button_to "Destroy this game", @game, method: :delete %>
</div>
